PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=
DRIVE_DISK=local

# DATABASE
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB_NAME=medical
MYSQL_TEST_DB_NAME=medical_test

# SESSION
SESSION_DRIVER=cookie

# REDIS
REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# MAIL
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username@mail.com>
SMTP_PASSWORD=<password>
